{{> admin }}

<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
  {{#if category}}
    <form action="/admin/categories/{{category.id}}?_method=PUT" method="POST" class="row">
      <div class="col-auto">
        <input type="text" placeholder="name" name="name" class="col-auto form-control" value="{{category.name}}">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
      <div class="col-auto">
        <a href="/admin/categories">or create new</a>
      </div>
    </form>
  {{else}}
    <form action="/admin/categories" method="POST" class="row">
      <div class="col-auto">
        <input type="text" placeholder="name" name="name" class="col-auto form-control">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  {{/if}}
</div>
<br />
<br />
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category Name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>
          <button type="button" class="btn btn-link">
            <a href="/admin/categories/{{this.id}}">
              Edit
            </a>
          </button>
          <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link">Delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<br />
<br />