<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/top">TOP10 人氣餐廳</a>
  </li>
</ul>
<br /><br />
<h1>美食達人</h1>
<hr />
<div class="container">
{{#each restaurants}}
  <div class="card mx-auto w-50 mb-3">
    <div class="row g-0">
      <div class="col-4">
        <img src="{{this.image}}" alt="{{this.name}}" class="img-fluid rounded-start">
      </div>
      <div class="col-8">
        <div class="card-body">
          <div class="card-title">
            <h5>{{this.name}}</h5>
          </div>
          <span class="badge bg-secondary">追蹤人數：{{this.FavoriteCount}}</span>
          <div class="mt-3">
          {{#if this.isFavorited }}
            <form action="/favorite/{{this.id}}?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger">移除最愛</button></form>
          {{else}}
            <form action="/favorite/{{this.id}}" method="POST"><button type="submit" class="btn btn-primary">加到最愛</button></form>
          {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}
</div>