<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{profile.image}}" style="width: 250px;margin-bottom: 25px;">
  </div>
  <div class="col-md-8">
    <h1>{{profile.name}}</h1>
    <p>{{profile.email}}</p>
  {{#eq profile.id user.id}}
    <div>
      <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
    </div>
  {{/eq}}
  </div>
</div>

<div class="card">
  <div class="card-header"> {{profile.Comments.length}} 已評論餐廳</div>
  <div class="card-body row">
    {{#each profile.Comments}}
    <div class="col-auto">
      <a href="/restaurants/{{this.Restaurant.id}}"class="mr-3">
        <img src="{{this.Restaurant.image}}" alt="{{this.Restaurant.name}}" style="width:100px;">
      </a>
    </div>
    {{/each}}
    </div>
</div>
